#start {
    display: flex;
    flex-direction: column;
    align-items: center; /* 가로 중앙 정렬 */
    height: 100vh; /* 화면 전체 높이 */
    position: absolute;
    top: 50%; /* 세로 중앙 */
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /*정확히 중앙에 위치시키기 위해 변환*/
    font-family: "East Sea Dokdo", cursive;
}

#start div {
    text-align: center;
  }
  
  #start h1{
    margin: 0;
    padding: 10px;
    font-size: 3vw; /* 화면 크기에 따라 글자 크기 조정 */
  }
  
  #start .level {
    font-size: 2vw;
    border-radius: 10px;
  }
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #050801;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

#start .select-level{
    font-size: 3vw; /* 화면 크기에 따라 글자 크기 조정 */
    margin: 250px 0 0 0; /*상단에 여백 추가 */
}
#level-select{
    color:white;
    background-color: black;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 2px white;
}

/* 타이틀 움직이게 하기 */
#start .title {
    color : brown;
    margin: 1rem;
    font-weight: 600;
    border-radius: 17px;
    overflow: hidden;
    transition: 0.3s;
    box-shadow : 0px 0px 100px 4px red;
  }
  
#start .title:hover {
    transform: scale(1.1);
  }
  
#start .title span {
    display: block;
    padding: 0 20px;
    animation: move-left 15s linear infinite;
  }
  
#start .title span::after {
    position: absolute;
    content: attr(data-text);
    top: 0;
    left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  @keyframes move-left {
    to {
      transform: translateX(-100%);
    }
  }



/* 난이도 버튼 디자인 */
a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
   
}
a:hover{
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1){
    filter: hue-rotate(270deg);
}
a:nth-child(2){
    filter: hue-rotate(110deg);
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2{
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}

a span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}


a span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}
#level-easy{
    display : none;
    color: magenta;
}
#level-normal{
    display: none;
    color: #03e9f4;
}
#level-hard{
    display: none;
    color: red;
}

#level-easy span{
    background: linear-gradient(360deg,transparent,magenta);
}
#level-normal span{
    background: linear-gradient(360deg,transparent,#03e9f4);
}
#level-hard span{
    background: linear-gradient(360deg,transparent,red);
}

#level-normal:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 200px #03e9f4;
}

#level-easy:hover{
    background: magenta;
    color: #050801;
    box-shadow: 0 0 5px magenta,
    0 0 25px magenta,
    0 0 50px magenta,
    0 0 200px magenta;
}

#level-hard:hover{
    background: red;
    color: #050801;
    box-shadow: 0 0 5px red,
    0 0 25px red,
    0 0 50px red,
    0 0 200px red;
}

  @media screen and (max-width: 768px) {

    body {
      background-size : cover;
      display : flex;
    }
    #level-select {
      font-size: 12vw;
    }
    .title span{
      font-size: 4vw;
    }
    a {
      font-size: 12vw;
    }
  }